@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

.main {
    width: 90%;
    height: 95vh;
    margin: 1vw auto; 
    font-family: sans-serif;
    background-color: rgb(255, 249, 241);
    border-radius: 1.5rem;
    color: rgb(1, 1, 61);
    box-shadow: 0 0 1rem rgba(44, 28, 8, .3);
}

.menu {
    font-size: 1.2rem;
    padding: 1.5rem 5rem;
}

.logo {
    display: inline-block;
}

.logo img {
    height: 1.5rem;
    vertical-align: bottom;
}

.main-nav {
    float: right;
}

.menu-text {
    margin-right: 3rem;
}

.menu-img img {
    height: 1.5rem;
    vertical-align: bottom;
    margin-right: 1rem;
}

.left-block {
    display: inline-block;
    width: 30%;
    vertical-align: 11vh;
    margin: 1vh 2vw 0 12vw;
}

.left-block .title {
    font-size: 3.6vw;
    font-weight: normal;
    font-family: 'Abril Fatface', serif;
}

.left-block p {
    font-size: 1.2vw;
    line-height: 1.5em;
    margin-bottom: 7.2vh;
}

.left-block>.btn {
    display: inline-block;
    font-size: 1.7vw;
    padding: 2.4vh 3.6vw;
    background-color: rgb(1, 1, 94);
    color: white;
    border-radius: 3.6vw;
}

.right-block {
    display: inline-block;
}

.right-block img {
    width: 35vw;
}